.my-custom-scrollbar {
    position: relative;
    height:530px;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 20px 20px;
}

.table-wrapper-scroll-y {
    display: block;
}

td .block-link {
    height: 100%;
    width: 100%;
    display: block;
    text-decoration:none;
}

.space {
    width: 4px;
    height: auto;
    display: inline-block;
  }